.well
  %h2 Forgot your password?


  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    %p
      = label_tag "Enter your email"
    %p
      = f.email_field :email, :class => "input-xlarge"
  
    = f.submit "Send me reset password instructions", :class => "btn btn-primary"
