= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]

= page_navigation_links @emails

%table.table.table-striped
  %thead
    %tr
      %th= sortable "email"
      %th
      %th= sortable "domain_id", "Domain"
      %th= sortable "expires_on"
      %th= sortable "last_activity_on"
      %th{:colspan => 4}
      %th
  %tbody
    =render @emails

= page_navigation_links @emails
