%tr{ :class => active_class(email) }
  %td= prefix_for(email.email)
  %td @
  %td= email.domain.name
  %td= expiration_date_for(email)
  %td= admin_badge(email)
  %td= receive_badge(email)
  %td= send_badge(email)
  %td= forwards_badge(email)
  %td= link_to "Edit", [:edit,email], :class => 'btn'
