<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "email" %></th>
      <th><%= sortable "expires_on" %></th>
      <th><%= sortable "domain_id" %></th>
      <th><%= sortable "active" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for email in @emails %>
      <tr>
        <td><%= email.email %></td>
        <td ><%= email.expires_on %></td>
        <td ><%= email.domain.name %></td>
        <td><%=  email.active %></td>
        <td><%= link_to "Edit", [:edit,email], :class => 'btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= page_navigation_links @emails %>
