.emailEditForm
  = form_for @email do |e|
    = render 'shared/error_messages', object: e.object
    .checkBoxes.float
      %p.well
        = e.label :active, :class => "label label-info"
        = e.check_box :active
        = e.label :can_receive, :class => "label label-success"
        = e.check_box :can_receive
        = e.label :can_send, :class => "label label-warning"
        = e.check_box :can_send
        = e.label :admin, :class => "label label-inverse"
        = e.check_box :admin
    .float
      %p
        = label_tag(:email,  "Email prefix")
        = text_field_tag 'email[email]', (prefix_for(@email.email) if @email.email)
      %p
        = e.label :domain
        = select_tag 'email[domain_id]',  options_from_collection_for_select(@domains,"id","name",(@domain.id if @domain))

      %p
        = label_tag(:alt_email,  "Alternative Email")
        = e.text_field :alt_email
      .forward_email_field
        .hidden.forward_email
          = text_field_tag "email[forwards]"
          = button_tag "Remove", :class => "remove_btn btn-danger btn"
        = label_tag(:forward_email,  "Forward forwards")
        - @email.forwards.each do |forward|
          .elem
            = text_field_tag "email[forwards]", forward
            = button_tag "Remove", :class => "remove_btn btn-danger btn"
      .addBtn
        = button_tag "Add Forward", :class => "add_btn btn"
      %p
        = e.label :password
        = e.password_field :password
    .float
      %p
        = e.label :comment
        = e.text_area :comment
      %p
        = e.label :expires_on
        = text_field_tag 'email[expires_on]', @email.expires_on
        = e.label :email_path
        = text_field_tag 'email[email_path]', maildir_for(@email)
      %p
        = e.submit :class => "submit_btn btn btn-primary"
  
  