.emailEditForm
  = form_for @email do |e|
    = render 'shared/error_messages', object: e.object
    %p
      = label_tag(:email,  "Email prefix")
      = text_field_tag 'email[email]', (get_email_prefix(@email.email) if @email.email)
    %p
      = e.label :domain
      = select_tag 'email[domain_id]',  options_from_collection_for_select(@domains,"id","name",(@domain.id if @domain))

    %p
      = label_tag(:alt_email,  "Alternative Email")
      = e.text_field :alt_email
    .forward_email_field
      .hidden.forward_email.elem
        = text_field_tag "email[forwards]"
        = button_tag "Remove", :class => "remove_btn"
      = label_tag(:forward_email,  "Forward emails")
      - @email.forwards.each do |forward|
        .elem
          = text_field_tag "email[forwards]", forward
          = button_tag "Remove", :class => "btn btn-danger remove_btn"
    .addBtn  
      = button_tag "Add Forward", :class => "btn btn-success add_btn"
    %p
      = e.label :password
      = e.password_field :password
    %p
      = e.label :comment
      = e.text_area :comment
    %p
      = e.label :expires_on
      = e.text_field :expires_on
    %p
      = e.label :email_path
      = text_field_tag 'email[email_path]', (@email.email_path ? @email.email_path : "var/logs/")

    %p
      = e.label :receive
      = e.check_box :receive
    %p
      = e.label :admin
      = e.check_box :admin
    %p
      = e.submit :class => "submit_btn"
  
  