<%= form_for( @email_path) do |f| %>
  <% if  @email_path.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <%  @email_path.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </div>
    <div class="field">
    <%= f.label :path_type %><br />
    <%= f.text_field :path_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
