<!DOCTYPE html>
<html>
<head>
  <title>Email Administrator - Title</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Email Administrator</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Emails", emails_path %></li>
            <li><%= link_to "Domains", domains_path %></li>
            <li><%= link_to "Stats" %></li>
          </ul>
          <ul class="nav pull-right">
            <li><%= link_to_if admin_signed_in?, "Logout", destroy_admin_session_path, :method => :delete%></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
   <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>
      <div class="span9">
      	<%= yield %></div>
      <div class="span3">
      	<% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <h2>Console</h2>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </div>
</body>
</html>